.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  margin:auto;
}
.grid-item {
  margin-bottom: 10px;
  height: 250px;
  padding: 20px;
  text-align: center;
}
#home_canvas{
  position: relative;
  display: block;
  top:100px;
}
